# Properties for the test config

# TODO: remove the ##'s and populate to make the tests work

# the consumer oauth stuff for your app
app.consumer.key=
app.consumer.secret=

# this user must be authed (including direct message access) on the above app
# and have at least one public tweet
user.screen.name=
user.access.token=
user.access.token.secret=
